<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.carrental.mappers.GeneralMapper">
	<resultMap type="inquiryDTO" id="inquiry">
		<id property="inquiry_seq" column="inquiry_seq" />
		<result property="inquiry_type" column="inquiry_type" />
		<result property="inquiry_title" column="inquiry_title" />
		<result property="inquiry_content" column="inquiry_content" />
		<result property="users_id" column="users_id" />
		<result property="inquiry_reg_date" column="inquiry_reg_date" />
		<result property="inquiry_update" column="inquiry_update" />
	</resultMap>

	<insert id="registerInquiry">
		<![CDATA[
			INSERT INTO INQUIRY
				(INQUIRY_SEQ,INQUIRY_TYPE,INQUIRY_TITLE,INQUIRY_CONTENT,USERS_ID)
			VALUES
				(seq_inquiry.NEXTVAL,#{inquiry_type},#{inquiry_title},#{inquiry_content},#{users_id})
		]]>
	</insert>

	<select id="read" parameterType="long" resultMap="inquiry">
		<![CDATA[
			SELECT*FROM INQUIRY WHERE INQUIRY_SEQ=#{inquiry_seq}
		]]>
	</select>

</mapper>