<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.carrental.mappers.NoticeMapper">

	<resultMap type="noticeVO" id="noticeMap">
		<id property="notice_seq" column="notice_seq" />
		<result property="count" column="count" />
		<result property="like_it" column="like_it" />
		<result property="category" column="category" />
		<result property="title" column="title" />
		<result property="writer_id" column="writer_id" />
		<result property="content" column="content" />
		<result property="reg_date" column="reg_date" />
		<result property="update_date" column="update_date" />
	</resultMap>

	<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="searchByArray" item="searchBy">
				<trim prefix="OR">
					<choose>
						<when test="searchBy=='all'">
							<![CDATA[
								UPPER(title) LIKE'%'||UPPER(#{keyword})||'%'OR UPPER(content) LIKE'%'||UPPER(#{keyword})||'%'
							]]>
						</when>
						<when test="searchBy=='title'">
							<![CDATA[
								UPPER(title) LIKE'%'||UPPER(#{keyword})||'%'
							]]>
						</when>
						<when test="searchBy=='content'">
							<![CDATA[
								UPPER(content) LIKE'%'||UPPER(#{keyword})||'%'
							]]>
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getNoticeList" resultMap="noticeMap">
		<![CDATA[
			SELECT notice_seq,category,title,writer_id,content,count,like_it,reg_date,update_date
				FROM
					(
						SELECT /*+INDEX_DESC(table_notice pk_notice)*/
							ROWNUM rn,notice_seq,category,title,writer_id,content,count,like_it,reg_date,update_date
							FROM table_notice
						WHERE
			]]>
		<include refid="criteria" />
		<![CDATA[
						ROWNUM<=#{pageNumber}*#{AMOUNT}
					)
				WHERE rn>(#{pageNumber}-1)*#{AMOUNT}
		]]>
	</select>

	<!-- <insert id="insert"> <![CDATA[ INSERT INTO table_notice (notice_seq,category,title,writer_id,content) 
		VALUES (notice_seq.NEXTVAL,#{category},#{title},#{writer_id},#{content}) 
		]]> </insert> -->

	<select id="read" parameterType="long" resultMap="noticeMap">
		<![CDATA[
			SELECT*FROM table_notice WHERE notice_seq=#{notice_seq}
		]]>
	</select>

	<!-- <delete id="delete"> <![CDATA[ DELETE FROM table_notice WHERE notice_seq=#{notice_seq} 
		]]> </delete> -->

	<select id="getTotal" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
				FROM table_notice
			WHERE
		]]>
		<include refid="criteria" />
		<![CDATA[
			notice_seq>0
		]]>
	</select>

</mapper>