<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.carrental.mappers.NoticeMapper">

	<select id="getNoticeList" resultType="notice">
		<![CDATA[
			SELECT*FROM notice WHERE seq>0
		]]>
	</select>

	<insert id="insert">
		<![CDATA[
			INSERT INTO notice(seq,title,content,writer)VALUES(testseq.NEXTVAL,#{title},#{content},#{writer})
		]]>
	</insert>

	<select id="read" parameterType="long" resultType="notice">
		<![CDATA[
			SELECT*FROM notice WHERE seq=#{seq}
		]]>
	</select>

	<delete id="delete">
		<![CDATA[
			DELETE FROM notice WHERE seq=#{seq}
		]]>
	</delete>

	<select id="search" resultType="notice">
		<if test="searchBy=='all'">
			<![CDATA[
				SELECT*FROM notice WHERE UPPER(title) LIKE '%'||UPPER(#{keyword})||'%' OR UPPER(content) LIKE '%'||UPPER(#{keyword})||'%' ORDER BY seq
			]]>
		</if>
		<if test="searchBy=='title'">
			<![CDATA[
				SELECT*FROM notice WHERE UPPER(title) LIKE '%'||UPPER(#{keyword})||'%' ORDER BY seq
			]]>
		</if>
		<if test="searchBy=='content'">
			<![CDATA[
				SELECT*FROM notice WHERE UPPER(content) LIKE '%'||UPPER(#{keyword})||'%' ORDER BY seq
			]]>
		</if>
	</select>

	<select id="getListCount">
		<![CDATA[
			SELECT COUNT(*)FROM notice
		]]>
	</select>

</mapper>