<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.carrental.mappers.RentalMapper">

	<resultMap type="branchDTO" id="branch">
		<id property="branch_seq" column="branch_seq" />
		<result property="branch_name" column="branch_name" />
		<result property="branch_phone" column="branch_phone" />
		<result property="branch_address" column="branch_address" />
		<result property="gps" column="gps" />
		<result property="maintenance" column="maintenance" />
		<result property="electric" column="electric" />
		<result property="branch_type" column="branch_type" />
	</resultMap>

	<resultMap type="appointDTO" id="appoint">
		<id property="appoint_seq" column="appoint_seq" />
		<result property="trim_seq" column="trim_seq" />
		<result property="branch_seq" column="branch_seq" />
		<result property="users_id" column="users_id" />
		<result property="appoint_reg_date" column="appoint_reg_date" />
		<result property="appoint_update" column="appoint_update" />
		<result property="appoint_date" column="appoint_date" />
	</resultMap>

	<resultMap type="shop.carrental.domain.AppointVO"
		id="appointResult">
		<id property="appoint_seq" column="appoint_seq" />
		<result property="trim_seq" column="trim_seq" />
		<result property="branch_seq" column="branch_seq" />
		<result property="users_id" column="users_id" />
		<result property="appoint_reg_date" column="appoint_reg_date" />
		<result property="appoint_update" column="appoint_update" />
		<result property="appoint_date" column="appoint_date" />
		<result property="branch_name" column="branch_name" />
		<result property="branch_phone" column="branch_phone" />
		<result property="car_year" column="car_year" />
		<result property="car_model" column="car_model" />
		<result property="trim_name" column="trim_name" />
	</resultMap>

	<sql id="select">
		<![CDATA[
			SELECT*FROM
		]]>
	</sql>

	<select id="listBranch" resultMap="branch">
		<include refid="select" />
		<![CDATA[
			BRANCH ORDER BY BRANCH_SEQ
		]]>
	</select>

	<insert id="registerAppoint">

		<selectKey keyProperty="appoint_seq" order="BEFORE"
			resultType="long">
			select SEQ_APPOINT.NEXTVAL from dual
		</selectKey>
		<![CDATA[
			INSERT INTO APPOINT(
			
				APPOINT_SEQ,
				TRIM_SEQ,
				BRANCH_SEQ,
				USERS_ID,
				APPOINT_DATE
				)
			VALUES(
			
				#{appoint_seq},
				#{trim_seq},
				#{branch_seq},
				#{users_id},
				#{appoint_date}
			)
		]]>
	</insert>

	<select id="getAppointInfo" resultMap="appointResult">
		SELECT
		A.*,B.*,C.CAR_MODEL,C.CAR_YEAR,T.TRIM_NAME FROM
		APPOINT A,BRANCH B,CAR
		C,TRIM T
		WHERE A.BRANCH_SEQ=B.BRANCH_SEQ AND
		A.TRIM_SEQ=T.TRIM_SEQ AND
		C.CAR_SEQ=T.CAR_SEQ AND
		A.APPOINT_SEQ=#{appoint_seq}
	</select>

	<select id="getBranch" resultMap="branch">
		<include refid="select" />
		BRANCH WHERE BRANCH_SEQ=#{branch_seq}
	</select>


	<select id="getNextSeq" resultType="long">
		select SEQ_APPOINT.NEXTVAL
		from dual
	</select>

	<!-- <select id="getAppointInfo" resultMap="appointresult"> <include refid="select" 
		/> appoint WHERE appoint_seq=#{appoint_seq} </select> -->

	<insert id="registerReserve">
		INSERT INTO RESERVE
		(RESERVE_SEQ,USERS_ID,START_DATE,END_DATE,BRANCH_SEQ,SHORT_CAR_SEQ,TOTAL_AMOUNT,COUPON,PAYMENT_AMOUNT,INSURANCE_SEQ,RESERVE_REG_DATE,RESERVE_UPDATE)
		VALUES(SEQ_RESERVE.NEXTVAL,#{users_id},#{start_date},#{end_date},#{branch_seq},#{short_car_seq},#{total_amount},#{coupon},#{payment_amount},#{insurance_seq},#{reserve_reg_date},#{reserve_update})
	</insert>

</mapper>