<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.carrental.mappers.UserMapper">

	<resultMap type="usersDTO" id="informationMap">
		<id property="users_id" column="users_id" />
		<result property="users_seq" column="users_seq" />
		<result property="password" column="password" />
		<result property="users_name" column="users_name" />
		<result property="users_nickname" column="users_nickname" />
		<result property="users_email" column="users_email" />
		<result property="users_phone" column="users_phone" />
		<result property="license" column="license" />
		<result property="birth_date" column="birth_date" />
		<result property="users_reg_date" column="users_reg_date" />
		<result property="users_update" column="users_update" />
	</resultMap>

	<select id="check" resultType="String">
		<![CDATA[
			SELECT users_name FROM users WHERE users_id=#{users_id} AND password=#{password}
		]]>
	</select>

	<insert id="register">
		<![CDATA[
			INSERT INTO users
				(users_seq,users_id,password,users_name,users_nickname,birth_date,users_email,users_phone)
			VALUES
				(seq_users.NEXTVAL,#{users_id},#{password},#{users_name},#{users_nickname},#{birth_date},#{users_email},#{users_phone})
		]]>
	</insert>

	<select id="information" resultMap="informationMap">
		<![CDATA[
			SELECT*FROM users WHERE users_id=#{users_id}
		]]>
	</select>

	<select id="getUsers" resultMap="informationMap">
		<![CDATA[
			SELECT*FROM users WHERE users_email=#{users_email}
		]]>
	</select>

</mapper>