<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.carrental.mappers.UserMapper">

	<resultMap type="appointVO" id="mycar">
		<id property="appoint_seq" column="appoint_seq" />
		<result property="trim_seq" column="trim_seq" />
		<result property="branch_seq" column="branch_seq" />
		<result property="car_year" column="car_year" />
		<result property="users_id" column="users_id" />
		<result property="branch_name" column="branch_name" />
		<result property="branch_phone" column="branch_phone" />
		<result property="car_model" column="car_model" />
		<result property="trim_name" column="trim_name" />
		<result property="branch_address" column="branch_address" />
		<result property="gps" column="gps" />
		<result property="gps2" column="gps2" />
		<result property="appoint_reg_date" column="appoint_reg_date" />
		<result property="appoint_update" column="appoint_update" />
		<result property="appoint_date" column="appoint_date" />
	</resultMap>

	<resultMap type="reserveVO" id="myShortCar">
		<id property="reserve_seq" column="reserve_seq" />
		<result property="sc_seq" column="sc_seq" />
		<result property="users_id" column="users_id" />
		<result property="insurance_name" column="insurance_name" />
		<result property="branch_name" column="branch_name" />
		<result property="trim_name" column="trim_name" />
		<result property="car_model" column="car_model" />
		<result property="mfgco_name" column="mfgco_name" />
		<result property="nomal_price" column="nomal_price" />
		<result property="fare" column="fare" />
		<result property="total_amount" column="total_amount" />
		<result property="coupon" column="coupon" />
		<result property="period" column="period" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="reserve_reg_date" column="reserve_reg_date" />
		<result property="reserve_update" column="reserve_update" />
	</resultMap>

	<resultMap type="usersDTO" id="informationMap">
		<id property="users_id" column="users_id" />
		<result property="users_seq" column="users_seq" />
		<result property="password" column="password" />
		<result property="users_name" column="users_name" />
		<result property="users_nickname" column="users_nickname" />
		<result property="users_email" column="users_email" />
		<result property="users_phone" column="users_phone" />
		<result property="license" column="license" />
		<result property="birth_date" column="birth_date" />
		<result property="users_reg_date" column="users_reg_date" />
		<result property="users_update" column="users_update" />
	</resultMap>

	<select id="check" resultType="String">
		<![CDATA[
			SELECT users_name FROM users WHERE users_id=#{users_id} AND password=#{password}
		]]>
	</select>

	<insert id="register">
		<![CDATA[
			INSERT INTO users
				(users_seq,users_id,password,users_name,users_nickname,birth_date,users_email,license,users_phone)
			VALUES
				(seq_users.NEXTVAL,#{users_id},#{password},#{users_name},#{users_nickname},#{birth_date},#{users_email},#{license},#{users_phone})
		]]>
	</insert>

	<select id="information" resultMap="informationMap">
		<![CDATA[
			SELECT*FROM users WHERE users_id=#{users_id}
		]]>
	</select>

	<select id="getUsers" resultMap="informationMap">
		<![CDATA[
			SELECT*FROM users WHERE users_email=#{users_email}
		]]>
	</select>

	<select id="getEmail" resultType="string">
		<![CDATA[
			SELECT USERS_EMAIL FROM USERS WHERE USERS_ID=#{users_id}
		]]>
	</select>

	<select id="checkNickname" parameterType="string"
		resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM USERS WHERE USERS_NICKNAME=#{users_nickname}
		]]>
	</select>

	<select id="checkPhone" parameterType="string" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM USERS WHERE USERS_PHONE =#{users_phone}
		]]>
	</select>

	<select id="checkLicense" parameterType="string"
		resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM USERS WHERE LICENSE =#{license}
		]]>
	</select>

	<select id="checkId" parameterType="string" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM USERS WHERE USERS_ID =#{users_id}
		]]>
	</select>

	<update id="updatePassword">
		<![CDATA[
			UPDATE USERS SET PASSWORD = #{password} WHERE USERS_ID=#{users_id}
		]]>
	</update>

	<select id="mycar" resultMap="mycar">
		<![CDATA[
			SELECT
		A.*,B.*,C.CAR_MODEL,C.CAR_YEAR,T.TRIM_NAME FROM
		APPOINT A,BRANCH B,CAR
		C,TRIM T
		WHERE A.BRANCH_SEQ=B.BRANCH_SEQ AND
		A.TRIM_SEQ=T.TRIM_SEQ AND
		C.CAR_SEQ=T.CAR_SEQ AND
		users_id=#{users_id}
		ORDER BY A.APPOINT_DATE DESC
		]]>
	</select>

	<select id="myShortCar" resultMap="myShortCar">
		<![CDATA[
			SELECT C.CAR_MODEL,M.MFGCO_NAME,T.TRIM_NAME,I.INSURANCE_NAME,R.*,B.BRANCH_NAME,B.* FROM
			CAR C,MFGCO M, TRIM T, SHORT_CAR S,RESERVE R,INSURANCE I,BRANCH B WHERE
			R.SC_SEQ=S.SC_SEQ AND S.BRANCH_SEQ=B.BRANCH_SEQ AND S.TRIM_SEQ=T.TRIM_SEQ AND C.CAR_SEQ=T.CAR_SEQ
			AND M.MFGCO_SEQ=C.MFGCO_SEQ AND I.INSURANCE_SEQ=R.INSURANCE_SEQ AND users_id=#{users_id}
			ORDER BY R.START_DATE DESC
		]]>
	</select>

	<update id="updateUser">
		<![CDATA[
		update users set users_nickname=#{users_nickname},users_phone=#{users_phone},users_email=#{users_email},license=#{license} where users_id=#{users_id}
		]]>
	</update>

	<select id="userNicknameCheck" resultType="int">
		<![CDATA[
		select count(*) from users where users_nickname=#{users_nickname}
		]]>
	</select>

	<select id="userPhoneCheck" resultType="int">
		<![CDATA[
		select count(*) from users where users_phone=#{users_phone}
		]]>
	</select>

	<select id="userEmailCheck" resultType="int">
		<![CDATA[
		select count(*) from users where users_email=#{users_email}
		]]>
	</select>

	<select id="userLicenseCheck" resultType="int">
		<![CDATA[
		select count(*) from users where license=#{license}
		]]>
	</select>
	
	<select id="checkLongEmail" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM USERS WHERE USERS_EMAIL=#{users_email}
		]]>
	</select>

</mapper>